:host {
  display: flex;
  background: red;
  flex: 1;
  //height: 100%;
  //background: green;
  //width: 60vw;

  .canvas-container {
    display: block;
    width: 100%;
    height: 80vh;
    background: white;
    position: relative;

    > app-button {
      top: 2rem;
      right: 1rem;
      position: absolute;
      z-index: 1;
    }

    > app-button:nth-child(2) {
      top: 6rem;
      right: 1rem;
      position: absolute;
      z-index: 1;
    }
  }
}
