<div class="canvas-container" #canvasContainer>
  @if (currentStep() === Steps.three) {
    <app-button (click)="resetSizes()" [width]="'auto'" [size]="'small'" [variant]="'img'" [imageUrl]="'/img/svg/qq2.svg'">
      <!--    {{ this.size() ? 'Показать размеры' : '  Скрыть   размеры' }}-->
    </app-button>
    <app-button (click)="hideDoors()" [size]="'small'" [variant]="'img'" [imageUrl]="'/img/svg/qq1.svg'">
      <!--    {{ this.size() ? 'Показать размеры' : '  Скрыть   размеры' }}-->
    </app-button>
  }
</div>
