<div class="main">
  <div class="left">

    @defer {
      <app-three-wardrobe></app-three-wardrobe>
    }

  </div>

  <div class="right">
    <div class="preview-container panel">
      @defer {
        <app-stepper (restart)="startAgain()" [step]="currentStep()"></app-stepper>
      }

    </div>

    <div class="settings-container">
      @switch (currentStep()) {
        @case (Steps.one) {
          @defer {
            <app-step-1></app-step-1>
          }
        }
        @case (Steps.two) {
          @defer {
            <ng-container *ngTemplateOutlet="s2"></ng-container>
          }
        }
      }
    </div>

    <div>
      <app-button [style.width]="'120px'" (click)="nextStep()" [variant]="'primary'">Далее</app-button>
    </div>


  </div>
</div>

<ng-template #s2>
  <app-step-2></app-step-2>
</ng-template>
