<div class="main">
  <div class="left">
<!--    <div class="canvas-container panel">-->
      <app-wardrobe-designer></app-wardrobe-designer>
<!--    </div>-->
  </div>

  <div class="right">
    <div class="preview-container panel">
      <app-stepper (restart)="startAgain()" [step]="currentStep()"></app-stepper>
    </div>

    <div class="settings-container">
      @switch (currentStep()) {
        @case (Steps.one) {
          @defer {
            <app-step-1></app-step-1>
          }
        }
        @case (Steps.two) {
          @defer {
            <app-step-2></app-step-2>
          }
        }
        @case (Steps.three) {
          <div>Blue</div>
        }
        @case (Steps.four) {
          <div>Blue</div>
        }
      }
    </div>

    <app-button (click)="nextStep()" [variant]="'primary'">Далее</app-button>
  </div>
</div>

