<div class="main">
  <div class="left">
    @defer {
      <app-three-wardrobe></app-three-wardrobe>
    }
  </div>

  <div class="right">
    <div class="preview-container panel">
      @defer {
        <app-stepper (restart)="startAgain()" [step]="currentStep()"></app-stepper>
      }
    </div>

    <div class="settings-container">
      @switch (currentStep()) {
        @case (Steps.one) {
          @defer {
            <app-step-1></app-step-1>
          }
        }
        @case (Steps.two) {
          @defer {
            <ng-container *ngTemplateOutlet="s2"></ng-container>
          }
        }
        @case (Steps.three) {
          @defer {
            <app-step-3 (isCompleteFillingEv)="handleCompleteFilling($event)"></app-step-3>
          }
        }
        @case (Steps.four) {
          @defer {
            <app-step-4></app-step-4>
          }
        }
      }
    </div>

    <div class="action-btn-container mb-8">
<!--      @if (currentStep() === Steps.three) {-->
        <!--        <app-button [width]="'100'" (click)="saveSection()" [variant]="'bg-transparent'">Сохранить</app-button>-->
<!--      }-->
<!--      @if (nextStepVisible()) {-->
<!--        <app-button [disabled]="currentStep() === Steps.one" [width]="'100'" (click)="prevStep()" [variant]="'primary'">prevStep</app-button>-->
        <app-button [disabled]="currentStep() === Steps.four" [width]="'100'" (click)="nextStep()" [variant]="'primary'">Далее</app-button>
<!--      }-->


    </div>
  </div>
</div>

<ng-template #s2>
  <app-step-2></app-step-2>
</ng-template>
