:host {
  display: flex;
  flex: 1;
  flex-direction: column;




  input.input {
    width: 100px;
  }

  .main {
    display: flex;
    flex: 1;
    justify-content: space-between;

    > .left {
      flex: 0 0 60%;

      margin-right: 2rem;

      position: sticky;
      top: 20px; /* Отступ от верха */
      align-self: flex-start;
      width: 100%;
      background: #f8f9fa;
      //padding: 1rem;
      border-radius: 8px;
      height: fit-content;
      max-height: 80vh; /* Ограничение высоты */
    }

    > .right {
      flex: 0 0 40%;
      display: flex;
      flex-direction: column;

      > :not(:last-child) {
        margin-bottom: 1rem;
      }

      > .action-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  /* Планшеты (ширина менее 1024px) */
  @media (max-width: 1023px) {
    app-root {
      margin: 0;
      padding: 0;
    }

    .main {
      flex-direction: column;
      background: red;
      //width: 768px;

      > .left {
        flex: 1;
        background: green;
        //width: auto;
        margin-right: 0;
        top: 0;
        z-index: 100;
        position: absolute;

      }

      > .right {
        background: blue;
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 82vh;

        > :not(:last-child) {
          margin-bottom: 1rem;
        }

        > .action-btn-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }


}

.settings-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.preview-container {
  display: flex;
}


