<div class="group_radio_btn">
  @for (item of data.options; track item.value; let idx = $index) {
    <div class="form_radio_btn">
      <input (change)="onInputChange($event)"
             [disabled]="item?.disabled"
             [checked]="item.value === value"
             id="{{ind + idx + data.groupName}}"
             type="radio" name="{{data.groupName}}}"
             value="{{item.value}}">
      <label
        [pTooltip]="item?.disabled ? item?.message : ''"
        tooltipPosition="top"
        [ngStyle]="isRound ? {'border-radius': '50%'} : {'border-radius': '1rem'}"
        [style.padding]="isRound ? '5px' : '10px' "
        class="image-box" for="{{ind + idx + data.groupName}}">
        @if (item.imgUrl) {
          <div class="test"
               [style.width]="width + 'px'"
               [style.height]="height + 'px'"
               [style.background-image]="item.imgUrl"></div>
        }
        @if (isRound) {
          <label
            [style.width]="'10px'"
            [style.height]="'10px'"
            class="text text-small" for="{{ind + idx + data.groupName}}">{{ item.label }}</label>
        }
      </label>
      @if (!isRound) {
        <label
          [style.max-width]="width + 40 + 'px'"
          class="text text-small" for="{{ind + idx + data.groupName}}">{{ item.label }}</label>
      }
    </div>
  }
</div>
