.group_radio_btn {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  flex-wrap: wrap;
}

.form_radio_btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 10px;
}

.form_radio_btn input[type=radio] {
  display: none;
}

.form_radio_btn label.image-box {
  display: flex;
  cursor: pointer;
  user-select: none;
  border: 2px solid #F1F1F1;
  background-color: white;
  //border-radius: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > img {
    width: 50px;
    height: 100px;
    margin: 1rem;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
}

.form_radio_btn label {
  text-align: center;
  margin: .5rem;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
  border-color: #216E59;
  background-color: rgba(172, 200, 194, 1);
}

/* Hover */
.form_radio_btn label:hover {
  color: #666;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
  background: #efefef;
  border-color: #FF6A6A;
  color: #666;
  cursor: default;
}

.test {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
