<form [formGroup]="stepTwoForm">
  <label class="text text-medium">Внешний вид</label>
  <div class="sizing-container panel">
    <label class="text text-normal">Количество дверей</label>
    <app-radio-group ngDefaultControl formControlName="srK" [isRound]="true" [data]="numberOfDoors"></app-radio-group>
  </div>
  <div class="sizing-container panel">
    <label class="text text-normal">Внешние выдвижные ящики</label>
    <app-radio-group class="mt-8" formControlName="SR_yaschiki_vneshnie" [data]="externalDrawers"></app-radio-group>
    @if (stepTwoForm.get('SR_yaschiki_vneshnie')?.value > 0) {
      <app-blocks (schemeChange)="updateScheme($event)" [doorCount]="stepTwoForm.get('srK')?.value"></app-blocks>
    }
  </div>
  <div class="sizing-container panel">
    <label class="text text-normal">Цоколь</label>
    <app-radio-group ngDefaultControl formControlName="SR_tsokol" [width]="100" [height]="50"
                     [data]="items4"></app-radio-group>
  </div>
  <div class="sizing-container panel">
    <label class="text text-normal">Нижняя часть фасадов</label>
    <app-radio-group ngDefaultControl formControlName="SR_niz_dveri" [data]="base"></app-radio-group>
  </div>
  <div class="sizing-container panel">
    <label class="text text-normal">Антресоль</label>
    <app-radio-group formControlName="SR_antr" [data]="items3"></app-radio-group>
    @if (stepTwoForm.get('SR_antr')?.value > 0) {
      <div class="panel panel--child mb-4">
        <label class="text">Высота антресоли</label>
        <p-slider
          [min]="wardrobeParamsService.SR_H_MIN_ANTR"
          [max]="srHMaxAntr"
          [ngModel]="stepTwoForm.get('SR_H_antr')?.value"
          (ngModelChange)="stepTwoForm.get('SR_H_antr')?.setValue($event)"
          [ngModelOptions]="{standalone:true}"/>
        <input formControlName="SR_H_antr" [style.width.px]="100" pInputText/>
      </div>

      <div class="panel panel--child">
        <label class="text">Конструкция антресоли</label>
        <app-radio-group ngDefaultControl formControlName="SR_antr_blok" [data]="items6"></app-radio-group>
      </div>
    }
  </div>
  <div class="sizing-container panel">
    <label class="text text-normal">Планки под натяжной потолок</label>
    <div class="panel mb-4">
      <div class="row-checkboxes">
        <app-checkbox ngDefaultControl formControlName="SR_PLANKA_VERH_LEV" [ind]="'srPlankaVerhLev'"
                      [item]="srPlankaVerhLev"></app-checkbox>
        <app-checkbox ngDefaultControl formControlName="SR_PLANKA_VERH_CHENTR" [ind]="'srPlankaVerhCentr'"
                      [item]="srPlankaVerhCentr"></app-checkbox>
        <app-checkbox ngDefaultControl formControlName="SR_PLANKA_VERH_PRAV" [ind]="'srPlankaVerhPrav'"
                      [item]="srPlankaVerhPrav"></app-checkbox>
      </div>

    </div>

    @if (stepTwoForm.get('SR_PLANKA_VERH_LEV')?.value
    || stepTwoForm.get('SR_PLANKA_VERH_CHENTR')?.value
    || stepTwoForm.get('SR_PLANKA_VERH_PRAV')?.value) {
      <div class="panel panel--child mb-4">
        <label class="text">Высота планки</label>
        <p-slider
          [min]="wardrobeParamsService.SR_H_MIN_PLANKA"
          [max]="wardrobeParamsService.SR_H_MAX_PLANKA"
          [ngModel]="stepTwoForm.get('SR_H_PLANKA_VERH')?.value"
          (ngModelChange)="stepTwoForm.get('SR_H_PLANKA_VERH')?.setValue($event)"
          [ngModelOptions]="{standalone:true}"/>
        <input formControlName="SR_H_PLANKA_VERH" [style.width.px]="100" pInputText/>
      </div>
    }
  </div>
  <div class="sizing-container panel">
    <div class="panel">
      <label class="text text-normal">Планка по контуру шкафа</label>
      <div class="row-checkboxes">
        <app-checkbox ngDefaultControl formControlName="SR_H_PLANKA_BOK_LEV" [ind]="'srPlankaBokLev'"
                      [item]="srPlankaBokLev"></app-checkbox>
        <app-checkbox ngDefaultControl formControlName="SR_PLANKA_BOK_CHENTR" [ind]="'srPlankaBokCentr'"
                      [item]="srPlankaBokCentr"></app-checkbox>
        <app-checkbox ngDefaultControl formControlName="SR_H_PLANKA_BOK_PRAV" [ind]="'srPlankaBokPrav'"
                      [item]="srPlankaBokPrav"></app-checkbox>
      </div>
    </div>
  </div>

  <div class="sizing-container panel">
    <div class="panel">
      <label class="text text-normal">Задняя стенка (ДВП/ХДФ)</label>
      <div class="mt-4">
        <p-select  style="width: 100%;" formControlName="backWallMaterial" [options]="backWallMaterials" optionValue="code" optionLabel="name"
                  placeholder="Выберите материал" class="w-full"/>
      </div>

    </div>
  </div>
</form>
