<label class="text text-medium">Внешний вид</label>


<div class="sizing-container panel">
  <label class="text">Количество дверей</label>
  <app-radio-group [isRound]="true" [data]="items5"></app-radio-group>
</div>

<div class="sizing-container panel">
  <label class="text">Внешние выдвижные ящики</label>
  <app-radio-group [data]="items1"></app-radio-group>
</div>

<div class="sizing-container panel">
  <label class="text">Цоколь</label>
  <app-radio-group [width]="100" [height]="50" [data]="items4"></app-radio-group>
</div>

<div class="sizing-container panel">
  <label class="text">Нижняя часть фасадов</label>
  <app-radio-group [data]="items2"></app-radio-group>
</div>

<div class="sizing-container panel">

  <label class="text">Антресоль</label>
  <app-radio-group [data]="items3"></app-radio-group>

  <div class="panel panel--child mb-4">
    <label class="text">Высота антресоли</label>
    <p-slider [(ngModel)]="value" class="w-full"/>
    <input [style.width.px]="100" pInputText [(ngModel)]="value"/>
  </div>

  <div class="panel panel--child">
    <label class="text">Конструкция антресоли</label>
    <app-radio-group [data]="items6"></app-radio-group>
  </div>
</div>

<div class="sizing-container panel">

  <label class="text">Фальш-планки</label>
  <app-radio-group [data]="items7"></app-radio-group>

  <div class="panel panel--child">
    <label class="text">Планка слева</label>
    <app-radio-group [data]="items8"></app-radio-group>

    <div class="panel">
      <label class="text">Ширина планки</label>
      <p-slider [(ngModel)]="value" class="w-full"/>
      <input [style.width.px]="100" pInputText [(ngModel)]="value"/>
    </div>

  </div>

<!--  <div class="panel panel&#45;&#45;child">-->
<!--    <label class="text">Конструкция антресоли</label>-->
<!--    <app-radio-group [data]="items6"></app-radio-group>-->
<!--  </div>-->
</div>
