<div class="form_radio_btn">
  <input (change)="onInputChange($event)" [disabled]="item?.disabled" [checked]="item.value === value" id="{{ind}}"
         type="checkbox"
         value="{{item.value}}">
  <label
    [ngStyle]="isRound ? {'border-radius': '50%'} : {'border-radius': '1rem'}"
    class="image-box" for="{{ind}}">
    @if (item.imgUrl) {
      <div class="test"
           [style.width]="width + 'px'"
           [style.height]="height + 'px'"
           [style.background-image]="item.imgUrl"></div>
    }
    @if (isRound) {
      <label
        [style.width]="'10px'"
        [style.height]="'10px'"
        class="text text-small" for="{{ind}}">{{ item.label }}</label>
    }
  </label>
  @if (!isRound) {
    <label class="text text-small" for="{{ind}}">{{ item.label }}</label>
  }
</div>
