// radio btn
.group_radio_btn{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  //max-width: 100px;
}
.form_radio_btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 10px;
}

.form_radio_btn label.image-box {
  display: flex;
  cursor: pointer;
  border-radius: 1rem;
  user-select: none;
  padding: 10px;
  border: 2px solid #F1F1F1;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > img {
    width: 50px;
    height: 100px;
    margin: 1rem;
    //background-image: url("/img/png/1.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
}

.form_radio_btn label {
  text-align: center;
  margin: .5rem;
}
/* Checked */
.form_radio_btn input[type=checkbox] {
  display: none;
}

.form_radio_btn input[type=checkbox]:checked + label {
  border-color: #216E59;
  background-color: rgba(172, 200, 194, 1);
}

/* Hover */
.form_radio_btn label:hover {
  color: #666;
}

/* Disabled */
.form_radio_btn input[type=checkbox]:disabled + label {
  background: #efefef;
  color: #666;
  cursor: default;
}

.test {
  //width: 70px;
  //height: 150px;
  //background-color: #1c8543;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
