<div class="form_radio_btn">
  <input (change)="onInputChange($event)" [disabled]="item?.disabled" [checked]="value" id="{{ind}}"
         type="checkbox"
         value="{{item.value}}">
  <label
    class="image-box" for="{{ind}}">
    @if (item.imgUrl) {
      <div class="test"
           [style.width]="width + 'px'"
           [style.height]="height + 'px'"
           [style.background-image]="item.imgUrl"></div>
    }
  </label>
  <label class="text text-small" for="{{ind}}">{{ item.label }}</label>
</div>
