:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: .5rem 3rem;

  .title {
    margin-bottom: 1rem;
  }

  /* Планшеты (ширина менее 1024px) */
  @media (max-width: 1023px) {
    margin: 0;
    padding: 0;
  }
}
