:host {
  display: block;
  background: red;
  //height: 100%;
  //background: green;

  .canvas-container {
    display: block;
    width: 100%;
    height: 80vh;
    background: green;
    position: relative;

    > app-button {
      top: 2rem;
      right: 2rem;
      position: absolute;
      z-index: 1;
    }
  }
}
