<form [formGroup]="stepFourForm">
  <label class="text text-medium mb-4">Дополнительные настройки</label>
  <div class="sizing-container panel">
    <div class="panel">
      <label class="h-field">
        <label class="text text-normal">Задняя стенка (ХДФ)</label>
        <img style="cursor: pointer;" (click)="op.toggle($event)" [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16"
             alt="qwe">
      </label>

      <div class="mt-4">
        <p-select style="width: 100%;" formControlName="backWallMaterial" [options]="backWallMaterials"
                  optionValue="value" optionLabel="name"
                  placeholder="Выберите материал" class="w-full"/>
      </div>

    </div>

    <div class="panel">
      <label class="h-field">
        <label class="text text-normal">Задняя стенка (ХДФ)</label>
        <img style="cursor: pointer;" (click)="op.toggle($event)" [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16"
             alt="qwe">
      </label>

      <div class="mt-4">
        <p-select style="width: 100%;" formControlName="backWallMaterial" [options]="backWallMaterials"
                  optionValue="value" optionLabel="name"
                  placeholder="Выберите материал" class="w-full"/>
      </div>

    </div>

    <div class="panel">
      <label class="h-field">
        <label class="text text-normal">Задняя стенка (ХДФ)</label>
        <img style="cursor: pointer;" (click)="op.toggle($event)" [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16"
             alt="qwe">
      </label>

      <div class="mt-4">
        <p-select style="width: 100%;" formControlName="backWallMaterial" [options]="backWallMaterials"
                  optionValue="value" optionLabel="name"
                  placeholder="Выберите материал" class="w-full"/>
      </div>

    </div>

    <div class="panel">
      <label class="h-field">
        <label class="text text-normal">Задняя стенка (ХДФ)</label>
        <img style="cursor: pointer;" (click)="op.toggle($event)" [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16"
             alt="qwe">
      </label>

      <div class="mt-4">
        <p-select style="width: 100%;" formControlName="backWallMaterial" [options]="backWallMaterials"
                  optionValue="value" optionLabel="name"
                  placeholder="Выберите материал" class="w-full"/>
      </div>

    </div>
  </div>

</form>

<p-popover #op>
  <div class="flex flex-col gap-4">
    <div>
      <img [ngSrc]="'/img/q.jpg'" [width]="300" [height]="300" alt="qwe">
    </div>
  </div>
</p-popover>


<!--<div class="panel">-->
<!--  <label class="text text-medium mb-4">Документы, которые вы получите</label>-->
<!--  <ul>-->
<!--    @for (doc of docList; track doc) {-->
<!--      <li>-->
<!--        <label>{{ doc }}</label>-->
<!--      </li>-->
<!--    }-->
<!--  </ul>-->
<!--  <a href="/downloads/downloads.rar" download="downloads.rar">Скачать пример оформления документов</a>-->
<!--  <br>-->
<!--  <br>-->
<!--  <label>Стоимость: {{calc()}} RUB</label>-->
<!--  <br>-->
<!--  <br>-->
<!--  <app-button [width]="'w-full'" [variant]="'primary'" [imageUrl]="'/img/svg/basket.svg'">-->
<!--    <span style="margin-left: .5rem">Купить сейчас</span></app-button>-->
<!--</div>-->

<!--<div class="panel mt-4">-->
<!--  <label class="text text-medium mb-4">Инфо!!!</label>-->

<!--  <div class="panel panel&#45;&#45;child">-->
<!--    <label class="text text-medium mb-4"> Габаритные размеры</label>-->
<!--    <br>-->
<!--    Ширина: {{ params.srL }}мм-->
<!--    <br>-->
<!--    Высота: {{ params.srH }}мм-->
<!--    <br>-->
<!--    Глубина: {{ params.srG }}мм-->
<!--    <br>-->
<!--  </div>-->

<!--  <div class="panel panel&#45;&#45;child mt-4">-->
<!--    <label class="text text-medium mb-4"> Материалы </label>-->
<!--    <br>-->
<!--    Материал корпуса: {{ params.SR_G_ldsp }}мм-->
<!--    <br>-->
<!--    Материал дверей : {{ params.SR_G_fasad }}мм-->
<!--    <br>-->
<!--  </div>-->


<!--  <div class="panel panel&#45;&#45;child mt-4">-->
<!--    <label class="text text-medium mb-4"> Фурнитура </label>-->
<!--    <br>-->
<!--    ???-->
<!--    <br>-->
<!--    ???-->
<!--    <br>-->
<!--  </div>-->


<!--</div>-->
