<form [formGroup]="stepFourForm">
  <!--  <div class="sizing-container panel">-->
  <!--    <label class="text text-normal">Внешние выдвижные ящики</label>-->
  <!--    <app-radio-group class="mt-8" formControlName="SR_yaschiki_vneshnie" [data]="externalDrawers"></app-radio-group>-->
  <!--    @if (stepTwoForm.get('SR_yaschiki_vneshnie')?.value > 0) {-->
  <!--      <app-blocks (schemeChange)="updateScheme($event)" [doorCount]="stepTwoForm.get('srK')?.value"></app-blocks>-->
  <!--    }-->
  <!--  </div>-->

  <label class="text text-medium mb-4">Дополнительные настройки</label>
  <!--  todo add filling-->
  <div class="sizing-container panel">
    {{ params.SR_yaschiki_vneshnie }}
    @if (params.SR_yaschiki_vneshnie.toString() === '1') {
      <div class="panel">
        <label class="h-field">
          <label class="text text-normal">Направляющие выдвижных ящиков</label>
          <img style="cursor: pointer;" (click)="op.toggle($event)" [ngSrc]="'/img/svg/I.svg'" [width]="16"
               [height]="16"
               alt="qwe">
        </label>
        <div class="mt-4">
          <p-select style="width: 100%;" formControlName="managers" [options]="list1"
                    optionValue="value" optionLabel="name" class="w-full"/>
        </div>
      </div>

      @if (stepFourForm.controls['managers'].value === 2) {
        <div class="block panel panel--child mb-4">
          <label class="h-field">
            <label class="text text-normal">производитель и вид направляющих</label>
            <img style="cursor: pointer;" (click)="op.toggle($event)" [ngSrc]="'/img/svg/I.svg'" [width]="16"
                 [height]="16"
                 alt="qwe">
          </label>
          <div class="mt-4">
            <p-select style="width: 100%;" formControlName="manufacturer" [options]="list2"
                      optionValue="code" optionLabel="name" class="w-full"/>
          </div>
        </div>
      }
    }
  </div>
  <div class="sizing-container">
    <div class="panel">
      <label class="h-field">
        <label class="text text-normal">Крепление петель</label>
        <img style="cursor: pointer;" (click)="op.toggle($event)" [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16"
             alt="qwe">
      </label>

      <div class="mt-4">
        <p-select style="width: 100%;" formControlName="fastening" [options]="list3"
                  optionValue="value" optionLabel="name" class="w-full"/>
      </div>

    </div>

  </div>

  <div class="sizing-container">
    <div class="panel">
      <label class="h-field">
        <label class="text text-normal">Задняя стенка (ХДФ)</label>
        <img style="cursor: pointer;" (click)="op.toggle($event)" [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16"
             alt="qwe">
      </label>

      <div class="mt-4">
        <p-select style="width: 100%;" formControlName="backWallMaterial" [options]="backWallMaterials"
                  optionValue="value" optionLabel="name"
                  placeholder="Выберите материал" class="w-full"/>
      </div>

    </div>

  </div>
  <div class="sizing-container">
    <div class="panel">
        <label style="display: flex" class="text text-normal mb-4">Цвет шкафа</label>

        <div style="display: flex; flex-direction: column">

          <div>
            <label class="h-field mb-2">
              <span class="text mb-2">Цвет фасадов</span>
              <!--          <img [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16" alt="qwe">-->
            </label>
            <input class="mb-2" [formControlName]="'facadeColor'" pInputText type="text" placeholder="Производитель, название и артикул цвета" style="width: 100%">
            <!--            <p-select formControlName="SR_G_ldsp" [options]="housingMaterials" optionValue="code" optionLabel="name"-->
            <!--                      placeholder="Выберите материал" class="w-full"/>-->
          </div>
          <div>
            <label class="h-field mb-2">
              <span class="text mb-2">Цвет корпуса</span>
              <!--          <img [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16" alt="qwe">-->
            </label>
            <input class="mb-2" [formControlName]="'baseColor'" pInputText type="text" placeholder="Производитель, название и артикул цвета" style="width: 100%">
          </div>
        </div>
        <!--        <img style="cursor: pointer;" (click)="op.toggle($event)" [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16"-->
        <!--             alt="qwe">-->

<!--      <div class="mt-4">-->
<!--        <p-select style="width: 100%;" formControlName="backWallMaterial" [options]="backWallMaterials"-->
<!--                  optionValue="value" optionLabel="name"-->
<!--                  placeholder="Выберите материал" class="w-full"/>-->
<!--      </div>-->

    </div>
  </div>

</form>

<p-popover #op>
  <div class="flex flex-col gap-4">
    <div>
      <img [ngSrc]="'/img/q.jpg'" [width]="300" [height]="300" alt="qwe">
    </div>
  </div>
</p-popover>
