<form [formGroup]="stepOneForm">

  <label class="text text-medium">Размеры и материалы</label>

  <div class="sizing-container panel">
    <label class="text text-normal">Размеры</label>
    <label class="text text-small text-color-gray">
      Укажите желаемые размеры шкафа. Воспользуйтесь слайдером или введите размеры в полях для ввода.
    </label>

    <div>
      <label class="h-field">
        <span class="text">Ширина</span>
      </label>

      <p-slider
        [min]="wps.SR_L_MIN"
        [max]="wps.SR_L_MAX"
        [ngModel]="stepOneForm.get('srL')?.value"
        (ngModelChange)="stepOneForm.get('srL')?.setValue($event)"
        [ngModelOptions]="{standalone:true}"
        class="gradient-slider w-full"/>
      <input
        type="number"
        class="input"
        formControlName="srL"
        [style.width.px]="100"/>
    </div>

    <div>
      <label class="h-field">
        <span class="text">Высота</span>
      </label>
      <p-slider
        [min]="wps.SR_H_MIN"
        [max]="wps.SR_H_MAX"
        [ngModel]="stepOneForm.get('srH')?.value"
        (ngModelChange)="stepOneForm.get('srH')?.setValue($event)"
        [ngModelOptions]="{standalone:true}"/>
      <input type="number" class="input" formControlName="srH" [style.width.px]="100"/>
    </div>

    <div>
      <label class="h-field">
        <span class="text">Глубина (вместе с фасадами)</span>
<!--        <img [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16" alt="qwe">-->
      </label>
      <p-slider
        [min]="wps.SR_G_MIN"
        [max]="wps.SR_G_MAX"
        [ngModel]="stepOneForm.get('srG')?.value"
        (ngModelChange)="stepOneForm.get('srG')?.setValue($event)"
        [ngModelOptions]="{standalone:true}"/>
      <input type="number" class="input" formControlName="srG" [style.width.px]="100"/>
    </div>

  </div>

  <div class="material-container panel">
    <label class="text text-normal">Материалы</label>
    <label class="text text-small text-color-gray">Выберите желаемый материал корпуса и дверей шкафа.</label>
    <div class="material-container_row-content" style="display: flex">

      <div>
        <label class="h-field mb-2">
          <span class="text">Материал корпуса</span>
<!--          <img [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16" alt="qwe">-->
        </label>
        <p-select formControlName="SR_G_ldsp" [options]="housingMaterials" optionValue="code" optionLabel="name"
                  placeholder="Выберите материал" class="w-full"/>
      </div>
      <div>
        <label class="h-field mb-2">
          <span class="text">Материал дверей</span>
<!--          <img [ngSrc]="'/img/svg/I.svg'" [width]="16" [height]="16" alt="qwe">-->
        </label>

        <p-select formControlName="SR_G_fasad" [options]="doorMaterials" optionValue="code" optionLabel="name"
                  placeholder="Выберите материал" class="w-full"/>
      </div>
    </div>
  </div>
</form>
