:host {
  display: flex;

  > form {
    flex-direction: column;
    flex: 1;
    display: flex;


    .sizing-container, .material-container {
      display: flex;
      flex-direction: column;

      &_row-content {
        display: flex;
        justify-content: space-between;

        > div {
          display: flex;
          flex-direction: column;
          flex: 0 0 48%;
        }
      }

      > *:not(:last-child):not(:first-child) {
        margin-bottom: 1rem;
      }
    }

    > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.h-field {
  display: flex;
  align-items: center;

  > img {
    margin-left: .5rem;
  }
}
