@for (item of blockList; track item; let idx = $index) {
  <div class="block panel panel--child">
    <div class="block-header">
      <div class="block-header-status" (click)="openBlock(item.blockNA)">
        <span class="block-header_icon">{{ currentBlock === item.blockNA ? '&#9650;' : '&#9660;' }}</span>
        <label class="block-header_name text text-normal">Блок №{{ idx + 1 }}</label>
      </div>
      <div class="block-header_delete-btn">
        <app-button (click)="deleteBlock(item.blockNA)" [size]="'small'" [variant]="'transparent'"
                    [imageUrl]="'/img/svg/del.svg'">Удалить блок
        </app-button>
      </div>
    </div>

    @if (currentBlock === idx) {
      <ng-container *ngTemplateOutlet="bodyTmpl context:{item: item, idx: idx}"></ng-container>
    }
  </div>
}

<app-button [disabled]="isDisabledAddBlock()" (click)="createBlock()" [width]="'w-full'" [size]="'small'"
            [variant]="'primary'">+ добавить блок
</app-button>

<ng-template #bodyTmpl let-item='item' let-idx='idx'>
  <div class="content">
    <label class="text text-small text-color-gray mt-8 mb-5">
      Выберите количество выдвижных ящиков в секции
    </label>
    <app-radio-group
      (change)="schemeChanges()"
      [ind]="idx" [(ngModel)]="item.SR_yaschiki_vneshnie_kol"
      [data]="drawers"></app-radio-group>
    <label class="text text-normal mt-8 mb-4">Сдвинуть блок</label>
    <div>
      <app-button
        class="mr-2"
        (click)="moveBlock(item.blockNA, '-')"
        [disabled]="item.startPos <= 0"
        [variant]="'white'"
        [size]="'small'">&#9668; Влево
      </app-button>
      <app-button
        (click)="moveBlock(item.blockNA, '+')"
        [disabled]="item.endPos + 1 >= doorCount"
        [size]="'small'">Вправо &#9658;
      </app-button>
    </div>
  </div>
</ng-template>
